* {
    outline: 0 !important
}
.fixed_bottom_container{
	    height: 1px;
}
.help-block {
    font-size: 70%;
    color: red
}

.error-block-text {
    color: red
}

.success-block {
    color: green
}

input[type=checkbox][readonly] {
    pointer-events: none
}

.loginBox__link--active, .roundedBtn__item {
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.about_section {
    margin-top: 0
}

#workingTimes, #workingTimes:active, #workingTimes:focus {
    width: 120px !important;
    background-color: #7ab7dc;
    border: none;
    color: #fff;
    outline: 0
}

.home__title h1, .singleAdvantage__info h2 {
    font-family: Lato
}

input:focus, textarea:focus {
    outline: 0
}

select#workingTimes {
    border: 0;
    outline: 0
}

#sign_up_div {
    width: 200px
}

.profilePhoto__ico {
    display: none
}

.faq__title:after {
    content: '';
    display: none;
    margin-top: 20px;
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    height: 1px;
    background: #dee1e3
}

.pickfiles-delete, .pickfiles-delete_profile_photo, .pickfiles_img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.profileRow_qualifications {
    justify-content: space-between
}

#carerPrivateAvailability .profileField_q {
    margin-right: 2.3%
}

.pickfiles, .pickfiles-change, .pickfiles_profile_photo, .pickfiles_profile_photo--change, .pickfiles_profile_photo_service_user--change {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.addContainer {
    position: relative
}

#profile_photo, .file-name, .pickfiles_img {
    position: absolute
}

.addContainer_load-header-inner {
    font-size: 12px;
    font-weight: 700
}

.upload_files {
    cursor: pointer
}

.pickfiles_img {
    display: flex;
    justify-content: center;
    height: 150px;
    width: calc(100% - 12px);
    border: 1px dotted #dee1e3;
    font-size: 1.5em
}

.loader, .nhide {
    display: none
}

.carousel-inner > .active {
    justify-content: center
}

.pickfiles_profile_photo {
    z-index: 10
}

.pickfiles-delete, .pickfiles-delete_profile_photo {
    position: absolute;
    top: 5px;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 1em;
    z-index: 99;
    cursor: pointer;
    right: 6px;
    text-align: center;
    display: none
}

.pickfiles-delete:hover, .pickfiles-delete_profile_photo {
    background: #ddd
}

.file-name {
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
    width: 100%;
    text-align: center;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%)
}

.aboutInfo, .lightTitle_align-l, .terms-cerer {
    text-align: left
}

.loader {
    color: #80cb2d;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 .2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 .2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 .2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 .2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 .2em
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 .2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 .2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 .2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 .2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 .2em
    }
}

.registeredCarer__ico {
    font-size: 16px
}

.terms-cerer {
    font-size: 13px;
    margin: 10px;
    color: #fff
}

body > section > div > div.invite {
    margin-bottom: 0
}

.peopleBox:focus .peopleBox__photo, .peopleBox:hover .peopleBox__photo {
    filter: grayscale(100%)
}

.peopleBox, .peopleBox:focus, .peopleBox:hover {
    text-decoration: none
}

.activeImg {
    filter: none !important;
    -webkit-filter: none !important
}

a.blogFilter__item.active {
    background-color: #7ab7dc;
    color: #fff
}

.sliderContainer {
    height: 120px
}

.advantages_cust {
    margin-top: 10px
}

.bigTitle_margin {
    margin: -15px 0 15px
}

.terms-cerer_margin-l {
    margin-left: 0
}

.testimonialsSection-padding {
    padding: 0
}

.section_title .padding-b {
    padding-bottom: 10px
}

.advantages-wcarer {
    margin-top: 50px
}

.peopleBox, .peopleBox__info {
    width: auto
}

#boxG1 {
    margin-top: 4px
}

.profileField-mr {
    margin-right: 2.2%
}

.profileField--c5 {
    width: 20%;
    margin-right: 0
}

.profilePhoto2 img {
    width: 110px;
    height: 110px;
    border-radius: 50%
}

.serviceUserTimeNeed {
    padding-bottom: 7px;
    margin-left: -30px
}

a.sortLink__item .active {
    color: #7ab7dc;
    font-weight: 900;
    text-decoration: none
}

span.charsLeft {
    position: absolute;
    top: 55px;
    right: 5px;
    transition: right .2s
}

.advantageColumn p {
    font-weight: 600;
    font-size: .95em;
    margin-bottom: 7px;
    padding-left: 7px
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden
}

.autocomplete-selected {
    background: #F0F0F0
}

.autocomplete-suggestions strong {
    font-weight: 400;
    color: #39F
}

.autocomplete-group {
    padding: 2px 5px
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000
}

.HomePageBanner .owl-item, .HomePageBanner-carerBanner__box {
    display: flex;
    justify-content: center
}

.lightTitle {
    line-height: 1.3
}

@media screen and (max-width: 768px) {
    .advantages__item {
        margin-top: 45px
    }

    .about_section {
        padding: 50px 0 100px;
        margin-top: 0;
        background-position: 30%
    }

    .singleAdvantage__info p {
        margin-top: 10px
    }

    .gender {
        flex-direction: row
    }
}

@media screen and (max-width: 480px) {
    body {
        line-height: 1.4em
    }

    .lightTitle {
        font-size: 1.6em
    }
}

button:disabled {
    background: #d7d7d7 !important;
    color: #f8f4f4
}

button:disabled:hover {
    background: #d7d7d7;
    color: #f8f4f4
}

.carers-below {
    margin: 0 auto 75px !important
}

.appointmentSliderWrap .sliderContainer {
    height: auto
}

.appointmentSlider .owl-stage {
    display: flex;
    justify-content: space-between
}

.appointmentSlider .owl-item {
    margin: 0 10px
}

.singleAppointment {
    width: auto
}

.singleAppointment__header h2 {
    width: 100%
}

.profileRating__item {
    cursor: pointer
}

.map {
    margin-top: 0;
    height: 200px
}

div.ui-timepicker-container {
    z-index: 2000 !important;
    padding: 10px;
    box-shadow: 0 4px 10px #ccc
}

.ui-widget.ui-widget-content {
    border: none !important
}

.bookings-more {
    margin-bottom: 28px
}

label.correct {
    margin-right: 22px !important;
    width: 35% !important
}

div.correct3 {
    margin-left: -170px
}

label.correct2 {
    margin: 20px
}

.col-sm-6 {
    min-height: 0
}

.addInfo__input-required_error {
    border: 1px solid #F44336
}

.advantage_label i, .availability__item.availability__item--full i {
    color: #80cb2d
}

.grid .userContainer {
    width: 48%;
    margin: 10px
}

@media print {
    .bookingGroup .roundedBtn, .bookingSwitcher, .breadcrumbs, .carerSelf, .footer, .headerNav, .headerSocial {
        display: none
    }

    a[href]:not(.themeLogo):after {
        content: " (" attr(href) ")";
        display: none
    }

    a[href].themeLogo:after {
        content: " " attr(href) "";
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: -webkit-calc(100% + 140px);
        left: calc(100% + 140px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .themeLogo {
        position: relative;
        background: url(../img/logo.png) center no-repeat !important;
        background-size: contain !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important
    }

    .header {
        border-bottom: 10px solid #dee1e3
    }

    .bookingCard {
        -webkit-box-shadow: 0 0 26.73px .27px rgba(0, 0, 0, .11);
        box-shadow: 0 0 26.73px .27px rgba(0, 0, 0, .11);
        border: 1px solid #e1e1e1;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important
    }

    .bookingCard--new .bookingCard__header {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        background: #1bc885 !important
    }

    .bookingCard--progress .bookingCard__header {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        background: #dfb815 !important
    }

    .bookingCard--complete .bookingCard__header {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        background: #848484 !important
    }

    .bookingCard__header {
        padding: 10px 25px
    }

    .bookingCard__header h2 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.3em;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        color: #fff !important
    }
}

.delete {
    position: relative;
    top: 20px;
    right: 0;
    font-size: 1.5em;
    color: red;
    line-height: 1;
    margin-left: auto
}

.advantageColumn.advantageColumn--full-row {
    width: 99%;
    text-transform: uppercase
}

.singleAppointment--progress .singleAppointment__header h2 {
    background: #dfb815
}

.singleAppointment--new .singleAppointment__header h2 {
    background: #80cb2d
}

.advantageColumn {
    width: 50%;
    text-transform: uppercase
}

.ccf:checked + label::after, .ccf:not(:checked) + label::after {
    content: '\2713';
    position: absolute;
    top: 3px;
    left: 2px;
    font-size: 18px;
    line-height: .8;
    color: #80cb2d;
    -webkit-transition: all .2s;
    transition: all .2s
}

.close {
    opacity: .9
}

.footer {
    position: relative !important
}

.payment__item {
    cursor: default
}

.overflow-hidden {
    overflow: hidden
}

.error-popup-container, .show-spinner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    top: 0;
    left: 0
}

.show-spinner {
    background-image: url(../img/spinner.gif);
    background-repeat: no-repeat;
    background-position: center
}

.error-popup {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%)
}

.founder__img img {
    height: auto
}

.rotate-90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.rotate-180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.rotate-270 {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1)
}

.flip-and-rotate-90 {
    -moz-transform: rotate(90deg) scaleX(-1);
    -webkit-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1)
}

.flip-and-rotate-180 {
    -moz-transform: rotate(180deg) scaleX(-1);
    -webkit-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    transform: rotate(180deg) scaleX(-1)
}

.flip-and-rotate-270 {
    -moz-transform: rotate(270deg) scaleX(-1);
    -webkit-transform: rotate(270deg) scaleX(-1);
    -o-transform: rotate(270deg) scaleX(-1);
    transform: rotate(270deg) scaleX(-1)
}

img {
    image-orientation: from-image
}

.pickfiles_img, .pickfiles_img img {
    object-fit: contain
}
