.adminNav__link.active{
    background:#80cb2d;
    color:#Fff;
    -webkit-transition:all .3s ease;
    transition:all .3s ease
}

/*** spinner & popup error ***/
.overflow-hidden{
    overflow: hidden;
}
.show-spinner, .error-popup-container{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.show-spinner{
    background-image: url('../../img/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.error-popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a.pagination__item.act{
    background:#80cb2d;color:#fff;-webkit-transition:all .3s ease;transition:all .3s ease;
    background-color: none;
    border-color: none;
}
img{
  image-orientation: from-image;
}

.profileRating__item.active {
    color: #f44747;
}
